@use "../../sass/style" as style;

#caisseComponent {
  width: calc(20vw - 24px);
}

#listeCommandePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  overflow: scroll;
}

.commandeUniquePage {
  border: 2px solid style.$vert;
  border-radius: 5px;
  height: 30px;
  width: 150px;
  text-align: center;
  margin: 4px;
}
