@use "../../sass/style" as style;

#friteuseComponent {
  height: 50%;
  width: calc(100% - 24px);
}

#modalFriteuseContent {
  display: flex;
  flex-direction: row;
  height: 90%;
  width: 100%;
}

.modalComponent {
  height: 100%;
  margin: 4px;
}

#pretFriteuse {
  width: 40%;
}

#preparationFriteuse {
  width: 22%;
}

#commandeFriteuse {
  width: 38%;
  overflow: scroll;
}

.bacFriteuse {
  height: 30px;
  width: 100px;
}

.rackFrite {
  height: 30px;
  width: 120px;
}

.fritureConstructeur {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#pageContent {
  display: flex;
  flex-direction: row;
}

.commandeFrite {
  min-height: 30px;
  max-height: 80px;
  height: auto;
  overflow: scroll;
  width: 140px;
  ul {
    padding-left: 15px;
    padding-top: 5px;
    margin: 0;
  }
}
