@use "../../sass/style" as style;

#friteuseNuggetComponent {
  width: calc(100% - 24px);
  height: 50%;
}

#modalNuggetContent {
  display: flex;
  flex-direction: row;
  height: 90%;
}

#pretNugget,
#cuissonNugget {
  width: 40%;
}

#commandeNugget {
  width: 20%;
}

.cuissonNugget {
  height: 30px;
  width: 170px;
}

.pretFriture {
  height: 30px;
  width: 200px;
}

.boiteANugget {
  height: 30px;
  width: 170px;
}

.buttonFrigo {
  height: 30px;
  width: 200px;
}

#pageContentNugget {
  display: flex;
  flex-direction: row;
}
