@use "../../sass/style" as style;

#friteuseNuggetComponent {
  width: calc(100% - 24px);
  height: 50%;
}

#modalNuggetContent {
  display: flex;
  flex-direction: row;
  height: 90%;
}

#cuissonNugget {
  width: 40%;
}

#pretNugget,
#commandeNugget {
  width: 30%;
}

#pretNugget {
  margin-left: 4px;
}

#commandeNugget {
  overflow: scroll;
}

.cuissonNugget {
  height: 30px;
  width: 170px;
}

.pretFriture {
  height: 30px;
  width: 200px;
}

.boiteANugget {
  height: 30px;
  width: 170px;
}

.buttonFrigo {
  height: 30px;
  width: 200px;
}

#pageContentNugget {
  display: flex;
  flex-direction: row;
  height: calc(100% - 20px - 2em);
}

.compteurBoite {
  margin-top: 4px;
  margin-bottom: 8px;
  margin-left: 12px;
}

.commandeNuggetButton {
  min-height: 45px;
  max-height: 80px;
  height: auto;
  overflow: scroll;
  width: 140px;
  ul {
    padding-left: 15px;
    padding-top: 5px;
    margin: 0;
  }
}

.contentFrontPageNugget {
  width: 100%;
}

#listeStockNugget {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 60%;
  width: 100%;
  margin: 0;
  padding-left: 4px;
  list-style: none;
}

#touteCommandesNugget {
  @include style.commandesInPostes;
}

.listeCommandeNugget,
.pretNugget {
  list-style: none;
  padding: 4px;
  li {
    text-align: left;
  }
}

.pretNugget li {
  padding-left: 8px;
}
