@use "../../sass/style" as style;

#friteuseComponent {
  height: 50%;
  width: calc(100% - 24px);
}

#modalFriteuseContent {
  display: flex;
  flex-direction: row;
  height: 90%;
  width: 100%;
}

.modalComponent {
  height: 100%;
  margin: 4px;
}

#pretFriteuse {
  width: 40%;
}

#preparationFriteuse {
  width: 22%;
}

#commandeFriteuse {
  width: 38%;
  overflow: scroll;
}

.bacFriteuse {
  height: 30px;
  width: 100px;
}

.rackFrite {
  height: 30px;
  width: 120px;
}

.fritureConstructeur {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

#pageContent {
  display: flex;
  flex-direction: row;
}

.commandeFrite {
  height: 60px;
  overflow: scroll;
  width: 140px;
  border: 2px solid style.$vert;
  border-radius: 5px;
  text-align: center;
  margin: 4px;
  ul {
    padding-left: 15px;
    padding-top: 5px;
    margin: 0;
  }
}

#listeCommandeFrite {
  list-style: none;
  padding: 4px;
  li {
    text-align: left;
  }
}

#touteCommandeFrite {
  @include style.commandesInPostes;
}
