@use "../../sass/style" as style;

#friteuseComponent {
  height: 50%;
  width: calc(100% - 24px);
}

#modalFriteuseContent {
  display: flex;
  flex-direction: row;
  height: 90%;
  width: 100% ;
}

.modalComponent {
  height: 100%;
  margin: 4px;
}

#pretFriteuse, #preparationFriteuse {
  width: 40%;
}

#commandeFriteuse {
  width: 20%;
}

.bacFriteuse {
  height: 30px;
  width: 100px;
}

.rackFrite {
  height: 30px;
  width: 120px;
}

.fritureConstructeur {
  display: flex;
  flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}