@use "../../sass/style" as style;

#friteuseNuggetComponent {
  width: calc(100% - 24px);
  height: 50%;
}

.tabFriteuseNuggetContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 6px 12px;
  border-top: none;
}

.tabFriteuseNuggetContentHidden,
.modalCloseFriteuseNugget {
  @include style.close-mode;
}
