#grillComponent {
  width: calc(25vw - 24px);
  height: calc(100% - 24px);
}

#modalGrillContent {
  display: flex;
  flex-direction: row;
  height: 90%;
}

#stockPretGrill,
#cuissonGrill,
#finModal {
  width: 20%;
}

#finModal {
  display: flex;
  flex-direction: column;
}

#frigoGrill {
  width: 40%;
}

#buttonFrigoGrill {
  display: flex;
  flex-wrap: wrap;
}

.buttonGrill {
  height: 30px;
  width: 130px;
}
#pageContent {
  display: flex;
  flex-direction: row;
  height: calc(100% - 20px - 2em);
}

#stockPretPage,
#stockFrigoPage {
  width: 48%;
}

.listStock {
  margin: 4px;
  padding: 4px;
  list-style: none;
}

#commandeFrigoGrill {
  overflow: scroll;
}

.commandeSteak {
  min-height: 45px;
  max-height: 80px;
  height: auto;
  overflow: scroll;
  width: 140px;
  ul {
    padding-left: 15px;
    padding-top: 5px;
    margin: 0;
  }
}
