@use "../../sass/style" as style;

#posteAssemblageComponent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(40vw - 24px);
  height: calc(100% - 24px);
}

.suivantButtonHidden,
.exitButtonBurgerHidden {
  @include style.close-mode;
}

.postePosteAssemblage {
  display: flex;
  flex-direction: row;
  height: 40%;
  h3 {
    width: 90px;
  }
}

#modalCuisineContent {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  height: 90%;
}

#modalGauche,
#modalDroite {
  width: 50%;
}

#enTeteConstructeur {
  display: flex;
  justify-content: space-between;
}

.buttonSortieBurger {
  height: 30px;
  min-width: 50px;
}

.buttonLancer {
  border: 2px solid style.$vert;
}

.buttonAttente {
  border: 2px solid style.$marron;
}

#toutOnglets {
  height: 10%;
}

#toutButtonIngredient {
  height: 30%;
}

.buttonIngredient {
  height: 30px;
  width: 170px;
}

#suiviConstruction {
  display: flex;
  flex-direction: row;
  height: 40%;
}

#partieRecette,
#currentBurger {
  height: 50%;
  width: 100%;
}

#partieRecette {
  margin-bottom: 0;
  margin-top: 1em;
  overflow: scroll;
}

.commandeSandwich {
  border: 2px solid style.$vert;
  border-radius: 5px;
  text-align: center;
  margin: 4px;
  height: 75px;
  overflow: scroll;
  width: 140px;
  ul {
    padding-left: 15px;
    padding-top: 5px;
    margin: 0;
  }
}

#commandeCuisine {
  display: flex;
  flex-direction: column;
  height: 20%;
}

#commandeCuisineAllButton {
  @include style.commandesInPostes;
  flex-direction: column;
}

#pretBurger,
#partieStock {
  height: 37.5%;
}
