@use "../../sass/style" as style;

#posteAssemblageComponent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: calc(40vw - 24px);
  height: calc(100% - 24px);
}

.suivantButtonHidden,
.exitButtonBurgerHidden {
  @include style.close-mode;
}

#buttonCuisine {
  width: 55px;
}

.postePosteAssemblage {
  display: flex;
  flex-direction: row;
  height: 40%;
  h3 {
    width: 90px;
  }
}

#modalCuisineContent {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  height: 90%;
}

#modalGauche,
#modalDroite {
  width: 50%;
}

#enTeteConstructeur {
  display: flex;
  justify-content: space-between;
}

.buttonSortieBurger {
  height: 30px;
  min-width: 50px;
}

#toutOnglets {
  height: 10%;
}

#toutButtonIngredient {
  height: 30%;
}

.buttonIngredient {
  height: 30px;
  width: 170px;
}

#suiviConstruction {
  display: flex;
  flex-direction: row;
  height: 50%;
}

#partieRecette,
#currentBurger {
  height: 50%;
  width: 100%;
}

.commandeSandwich {
  min-height: 30px;
  max-height: 80px;
  height: auto;
  overflow: scroll;
  width: 140px;
  ul {
    padding-left: 15px;
    padding-top: 5px;
    margin: 0;
  }
}

#commandeCuisine {
  display: flex;
  flex-direction: column;
  height: 20%;
}

#commandeCuisineAllButton {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
}

#pretBurger,
#partieStock {
  height: 37.5%;
}
