@use "../../sass/style" as style;

#posteAssemblageComponent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: calc(40vw - 24px) ;
}

.postePosteAssemblage {
  border: solid black;
  height: 30%;
}

.suivantButtonHidden, .exitButtonBurgerHidden {
    @include style.close-mode
}

#cuisinePreparation {
  display: flex;
  flex-direction: column;
}

#buttonActionModal {
  display: inline;
}

.tabPosteAssemblage {
  overflow: hidden;
  height: 100px;
}
